---
title: "Students"
parentTitle: "People"
parentUrl: "people.html"
layout: "peopletemplate"
isPage: true
---
				
<div class="col-padded"><!-- inner custom column -->

	<div class="row gutter"><!-- row -->
		
			<div class="col-lg-12 col-md-12">

						<figure class="news-featured-image">	
							<!-- your image file name should go inside src: "/img/[your-file.ext]" -->
								<img src="/img/news-2.jpg" alt="Featured image-2" class="img-responsive" />
						</figure>
						
						<!-- Your name -->
						<h1 class="page-title">Noopur Raval</h1>
						
						<div class="news-body">
							<!-- Each new paragraph should go inside a p tag: <p> [your paragraph text] </p> -->
								<p class="call-out"> Noopur Raval is a PhD student in Informatics being advised by Dr Paul Dourish. She studies digital labor, technology for informal workers and history of high-skilled immigrants in the US.</p>
							<p> Find her latest research at noopur.xyz</p>
				</div>
				
							</div>
		
		</div><!-- row end -->           

</div><!-- inner custom column end -->
